<div class="cont-sections-tab">
  <div class="cont-section" (click)="onClickOfTab('posts')">
    <div class="cont-tab selected" id="posts">
      <p class="tab-name w-bold">Posts</p>
    </div>
  </div>
  <div class="cont-section" (click)="onClickOfTab('media')">
    <div class="cont-tab" id="media">
      <div class="cont-align-center">
        <p class="tab-name w-bold">Media</p>
      </div>
    </div>
  </div>
  <div class="cont-section" (click)="onClickOfTab('likes')">
    <div class="cont-tab" id="likes">
      <div class="cont-align-center">
        <p class="tab-name w-bold">Likes</p>
      </div>
    </div>
  </div>
</div>
