<div class="cont-suggestions">
  <div class="content m-0">
    <h2 class="m-0">People you might know</h2>
  </div>
  <div class="cont-profiles">
    <div class="profile">
      <div class="pic-large-circle pic-circle-dashed-border">
        <img
          src="https://images.pexels.com/photos/1222271/pexels-photo-1222271.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt="image"
        />
      </div>
      <div class="name-info">
        <p class="w-regular w-bold">Antoine</p>
        <p class="w-small w-thin">@anto_griezmann</p>
      </div>
      <button class="btn-small-dark">
        <span w-small w-bold>Follow</span>
      </button>
    </div>
    <div class="profile">
      <div class="pic-large-circle pic-circle-dashed-border">
        <img
          src="https://images.pexels.com/photos/1097456/pexels-photo-1097456.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt="image"
        />
      </div>
      <div class="name-info">
        <p class="w-regular w-bold">Ghost</p>
        <p class="w-small w-thin">@dembouz</p>
      </div>
      <button class="btn-small-dark">
        <span w-small w-bold>Follow</span>
      </button>
    </div>
    <div class="profile">
      <div class="pic-large-circle pic-circle-dashed-border">
        <img
          src="https://images.pexels.com/photos/1139743/pexels-photo-1139743.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt="image"
        />
      </div>
      <div class="name-info">
        <p class="w-regular w-bold">Juan</p>
        <p class="w-small w-thin">@juancarlo</p>
      </div>
      <button class="btn-small-dark">
        <span w-small w-bold>Follow</span>
      </button>
    </div>
    <div class="profile">
      <div class="pic-large-circle pic-circle-dashed-border">
        <img
          src="https://images.pexels.com/photos/733872/pexels-photo-733872.jpeg?auto=compress&cs=tinysrgb&w=600"
          alt="image"
        />
      </div>
      <div class="name-info">
        <p class="w-regular w-bold">Ghost</p>
        <p class="w-small w-thin">@dembouz</p>
      </div>
      <button class="btn-small-dark">
        <span w-small w-bold>Follow</span>
      </button>
    </div>
  </div>
</div>
