@import "/src/styles/styles.scss";
.cont-add-comment {
  padding: 1rem;
}
.input {
  border-radius: 50px;
  padding: 0.5rem;
  width: 100%;
  border: 1px solid $color-grey-regular;
  padding: 10px;
  &::placeholder {
    color: $color-grey-regular;
  }

  &:focus {
    outline: none;
    box-shadow: inset 0 0 10px rgba($color-green, 0.1);
  }
}
.add-comment {
  display: flex;
  gap: 1rem;
}
