$cursive-green-font-family: "Borel", cursive;

$font-extra-large: 3.5rem;
$font-large: 2rem;
$font-medium: 1.3rem;
$font-regular: 1rem;
$font-small: 0.8rem;
$font-smaller: 0.7rem;

$color-green: #24e321;
$color-green-dark: #1eb41c;
$color-grey-regular: #ced4da;
$color-grey-light: #dee2e6;
$color-grey-lighter: #f1f3f5;
$color-grey-lightest: #f8f9fa;
$color-grey-dark: #868e96;
$color-grey-extra-dark: #343a40;
$color-linear-gradient: linear-gradient(#24e321, teal);
$color-red: #e03131;
