.liked {
  fill: #e91e54;
  animation: show 0.2s ease-in-out;
}
@keyframes show {
  0% {
    opacity: 0;
    scale: 0.5;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
.cont-likes {
  /* margin-top: 20px; */
  display: flex;
  gap: 6px;
  align-items: center;
}
