<div
  [class.cont-preview-photo]="selectedImage"
  [class.display-none]="selectedImage == ''"
>
  <svg
    class="icon-close"
    (click)="selectedImage = ''"
    xmlns="http://www.w3.org/2000/svg"
    height="24"
    viewBox="0 -960 960 960"
    width="24"
    (click)="onClickOfClose()"
  >
    <path
      d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
    />
  </svg>
  <img
    #preview
    [src]="selectedImage"
    alt="photo"
    id="preview"
    (loadStart)="onLoad(preview)"
  />
</div>
