.cont-preview-photo {
  max-height: 100%;
  max-width: 100%;
  & > .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    fill: #fff;
    z-index: 10;
    top: 10%;
    right: 10%;
    &:hover {
      cursor: pointer;
    }
  }
  & > img {
    animation: zoomin 0.25s ease-in-out;
    transform-origin: -50% 0%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 50rem;
    height: auto;
    border-radius: 2rem;
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.6);
  }
}
@keyframes zoomin {
  0% {
    scale: 0.75;
  }
  100% {
    scale: 1;
  }
}
.display-none {
  display: none;
  z-index: -1;
}
