<div class="cont-media-content">
  <div class="media m-0 p-1 px-2">
    <div class="media-content">
      <div class="content is-small">
        <h4 class="m-1">#Premier League</h4>
        <p class="w-small">
          Trending with
          <span class="w-small green-color-font">#Haaland, #DeBruyne</span>
        </p>
      </div>
    </div>
  </div>
  <div class="media m-0 p-1 px-2">
    <div class="media-content">
      <div class="content is-small">
        <h4 class="m-1">#GOAT</h4>
        <p class="w-small">
          Trending with
          <span class="w-small green-color-font">#GoldenBall, #Messi</span>
        </p>
      </div>
    </div>
  </div>
  <div class="media m-0 p-1 px-2">
    <div class="media-content">
      <div class="content is-small">
        <h4 class="m-1">#Griezmann</h4>
        <p class="w-small">
          Trending with
          <span class="w-small green-color-font">#Underrated, #POTT</span>
        </p>
      </div>
    </div>
  </div>
  <div class="media m-0 p-1 px-2">
    <div class="media-content">
      <div class="content is-small">
        <h4 class="m-1">#Robbed</h4>
        <p class="w-small">
          Trending with
          <span class="w-small green-color-font">#Barcelona, #Xavi</span>
        </p>
      </div>
    </div>
  </div>
  <div class="media m-0 p-1 px-2">
    <div class="media-content">
      <div class="content is-small">
        <h4 class="m-1">#VAR</h4>
        <p class="w-small">
          Trending with
          <span class="w-small green-color-font"
            >#ScandalInAnfield, #Liverpool</span
          >
        </p>
      </div>
    </div>
  </div>
</div>
