<div class="cont-trending">
  <ul class="trending-list">
    <li class="trending">
      <h2 class="w-regular w-bold">#Premier League</h2>
      <p class="w-small">
        Trending with
        <span class="w-small green-color-font">#Haaland, #DeBruyne</span>
      </p>
    </li>
    <li class="trending">
      <h2 class="w-regular w-bold">#GOAT</h2>
      <p class="w-small">
        Trending with
        <span class="w-small green-color-font">#GoldenBall, #Messi</span>
      </p>
    </li>
    <li class="trending">
      <h2 class="w-regular w-bold">#Griezmann</h2>
      <p class="w-small">
        Trending with
        <span class="w-small green-color-font">#Underrated, #POTT</span>
      </p>
    </li>
    <li class="trending">
      <h2 class="w-regular w-bold">#Robbed</h2>
      <p class="w-small">
        Trending with
        <span class="w-small green-color-font">#Barcelona, #Xavi</span>
      </p>
    </li>
    <li class="trending">
      <h2 class="w-regular w-bold">#VAR</h2>
      <p class="w-small">
        Trending with
        <span class="w-small green-color-font"
          >#ScandalInAnfield, #Liverpool</span
        >
      </p>
    </li>
  </ul>
</div>
