.cont-pills {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem;
  position: relative;
  min-height: 100%;
}
.cont-pill:last-child {
  position: absolute;
  bottom: 1.5rem;
}

.cont-pill {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1rem;
  padding: 0.75rem 1.5rem;
  border-radius: 30px;
}
