<div class="cont-pill">
  <div class="pic-small-circle">
    <img
      src="https://images.pexels.com/photos/1516680/pexels-photo-1516680.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
      alt="dp"
    />
  </div>
  <div class="cont-comment-info">
    <p class="username w-small">@bhavanishankar</p>
    <div class="comment-pill w-small w-thin pill-shadow-border">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor
      sit amet consectetur adipisicing elit.
    </div>
    <div class="cont-time">
      <p class="time w-smaller w-thin">10 June 8:45pm</p>
    </div>
  </div>
</div>
