.cont-post-widget {
  padding: 2rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cont-post-widget:hover :not(.hover-excluded) {
  // background-color: #fcfcfc;
  // background-color: #eedea2;
  cursor: pointer;
}
.photo-caption-cont {
  width: 100% !important;
}
