.btn-dark-green,
.btn-small-dark {
  border-radius: 2rem;
  font-weight: 600;
  letter-spacing: 0.1ch;
  background-color: #000;
  color: #fff;
  border: none;
  &:hover {
    cursor: pointer;
    color: $color-green;
  }
}
.btn-dark-green {
  padding: 0.7rem 2rem;
}
.btn-small-dark {
  padding: 0.3rem 0.6rem;
}
.hover-fill {
  color: $color-green;
  &:hover {
    cursor: pointer;
    color: #fff;
    background-color: $color-green;
  }
}
.hover-light-grey {
  &:hover {
    background-color: rgba($color-grey-light, 0.6);
    cursor: pointer;
  }
}
.pic-large-circle {
  display: flex;
  align-items: center;
  & > img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
  }
}
.pic-circle-dashed-border {
  padding: 0.3rem;
  border: 2px dashed $color-green;
  border-radius: 50%;
}
.pic-regular-circle {
  display: flex;
  align-items: center;
  & > img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }
}
.pic-small-circle {
  display: flex;
  align-items: center;
  & > img {
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
  }
}
.display-none {
  display: none;
}
.display-inline {
  display: inline-block;
}
.hidden {
  visibility: hidden;
}
.icon-hover {
  &:hover {
    background-image: linear-gradient(
      rgba($color-grey-light, 0.5),
      rgba($color-grey-light, 0.5)
    );
    cursor: pointer;
    border-radius: 50%;
  }
}
.pill-shadow-border {
  box-shadow: inset 0 0 10px rgba($color-green, 0.1);
  border: 1px solid $color-grey-regular;
}
.z-index-1 {
  z-index: 1;
}
.z-index-minus-1 {
  z-index: -1;
}
